:root {
    --text: 'white'
}

html, body {
    height: 100%;
    color: var(--text);
}

body {
    background-color: gray;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#onBulb {
    display: none;
}

#offBulb {
    display: block;
}
